xml/xsd/Address.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LineOne" type="xs:string" />
        <xs:element name="LineTwo" type="xs:string" />
        <xs:element name="City" type="xs:string" />
        <xs:element name="County" type="xs:string" />
        <xs:element name="Postcode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>