xml/xsd/BloodGlucoseMonitor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BloodGlucoseMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SerialNumber" type="xs:string" />
        <xs:element name="DateRegistered" type="xs:date" />
        <xs:element maxOccurs="unbounded" name="BloodGlucoseReading">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Timestamp" type="xs:dateTime" />
              <xs:element name="BloodGlucoseLevel" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>