xml/xsd/Hospital.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hospital">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="ContactInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Email" type="xs:string" />
              <xs:element name="ContactNumber" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LineOne" type="xs:string" />
              <xs:element name="LineTwo" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="County" type="xs:string" />
              <xs:element name="Postcode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Specialist">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Title" type="xs:string" />
                    <xs:element name="Forename" type="xs:string" />
                    <xs:element name="OtherNames" type="xs:string"/>
                    <xs:element name="Surname" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ContactInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="ContactNumber" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>