xml/xsd/Lab.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Lab">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="ContactInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Email" type="xs:string" />
              <xs:element name="ContactNumber" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LineOne" type="xs:string" />
              <xs:element name="LineTwo" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="County" type="xs:string" />
              <xs:element name="Postcode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Test">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Type" type="xs:string" />
              <xs:element name="Date" type="xs:date" />
              <xs:element name="Time" type="xs:time" />
              <xs:element name="TestResult">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Timestamp" type="xs:dateTime" />
                    <xs:element name="FindingNotes" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>