xml/xsd/Operation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PatientOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Operation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Date" type="xs:date" />
        <xs:element name="StartTime" type="xs:time" />
        <xs:element name="EndTime" type="xs:time" />
        <xs:element name="SurgeonNotes" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>