xml/xsd/Prescription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Prescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CreationDate" type="xs:date" />
        <xs:element name="PrescribedMedication">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Medication">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AmountPrescribed" type="xs:string" />
              <xs:element name="Dosage" type="xs:string" />
              <xs:element name="PatientInstructions" type="xs:string" />
              <xs:element name="LastIssued" type="xs:date" />
              <xs:element name="NextIssueDate" type="xs:date" />
              <xs:element name="ReviewDue" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="repeat" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>