xml/xsd/Test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Type" type="xs:string" />
        <xs:element name="Date" type="xs:date" />
        <xs:element name="Time" type="xs:time" />
        <xs:element name="TestResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Timestamp" type="xs:dateTime" />
              <xs:element name="FindingNotes" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>