xml/xsd/WeighingScales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WeighingScales">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SerialNumber" type="xs:string" />
        <xs:element name="DateRegistered" type="xs:date" />
        <xs:element maxOccurs="unbounded" name="WeightReading">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Timestamp" type="xs:dateTime" />
              <xs:element name="WeightKg" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>