xml/xsd/WeightReading.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WeightReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="WeightKg" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>